@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    14% {
        transform: translateY(-11%);
    }
    28% {
        transform: translateY(-22%);
    }
    42% {
        transform: translateY(-33%);
    }
    54% {
        transform: translateY(-44%);
    }
    68% {
        transform: translateY(-55%);
    }
    82% {
        transform: translateY(-66%);
    }
    96% {
        transform: translateY(-77%);
    }
    100% {
        transform: translateY(-88%);
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

#main_contents {
    /* 전체 가로 중앙정렬 */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0px;
}

#main_contents .wrapper {
    /* 세로로 쌓이게 */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    /* margin-top: 154px; */
    max-width: 1980px;
}

.title {
    text-align: center;
    margin-top: 154px;
}

.main_title {
    color: #6A9258;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 15px;
}

.hor{
    background-color: #6A9258;
    width: 700px;
    height: 7px;
    border: none;
    margin: 0%;
}

.intro {
    text-align: center;
    margin-top: 79px;
}

.intro h1 {
    font-size: 36px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;

    color: #191919;
}

.type {
    line-height: 3em;
    height: 3em;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #191919;
    overflow: hidden;
    margin-top: 50px;
}

.type_list {
    animation: rotate 10s infinite;
}

.result_data {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.result_data h3 {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
}

.result_data p {
    margin: 0%;
    margin-top: 15px;
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;

    color: #191919;
}

.result_data span{
    background: linear-gradient(to top, #EEBB4D80, transparent 50%);
}

.button {
    text-align: center;
    margin-top: 89px;
}

.button button {
    width: 700px;
    height: 100px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid #6A9258;
    color: #191919;
    filter: drop-shadow(0px 10px 20px rgba(106, 146, 88, 0.2));
    border-radius: 100px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;

}

.button button:hover {
    color: #FFFFFF;
    background-color: #6A9258;
}

.option{
    margin-top: 64px;
    color: #ABABAB;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}